p12{
    font-size: 30px;
    color: white;
    
    
}
p{
    color: white;
}
h1{
    font-size: 25px;
    color: hsl(123, 72%, 53%);
}
body {
    background-color: rgb(4, 46, 75);
}
h2 {
    font-size: 22px;
    color: white
}
h3 {
    font-size: 22px;
    color: white
}
h4 {
    font-size: 22px;
    color: white
}
h5{
    font-size: 25px;
    color: hsl(123, 72%, 53%);
}

h6{
    font-size: 25px;
    color: hsl(123, 72%, 53%);
}
p2 {
    color: white;
    font-size: 15px;
}
p3{
    color: white;
    font-size: 15px;
}
p4{
    color: white;
    font-size: 15px;
}
p5{
    color: white;
    font-size: 15px;
}
p6{
    color: white;
    font-size: 15px;
}
p7{
    color: white;
    font-size: 15px;
}
p8{
    color: white;
    font-size: 15px;
}
p9{
    color: white;
    font-size: 15px;
}
p10{
    color: white;
    font-size: 15px;
}
p11{
    color: white;
    font-size: 15px;
}
a {
    color: red;
    word-spacing: 20px;
       
}
