div{ 
   text-align: center;
   margin-top: 10PX;
 }
h{
    font-size: 30px;
    }   
h1{
    font-size: 23px;
    color: #31bb66 ;
} 
h3{
    font-size: 18px;
    }
body{
    background-color: #22396a;
    color: white;
    
    
}
p1{ font-size: 14px;}
p3{ font-size: 16px;}
a{
    color: red;
    
}


footer{
    position: absolute;
    background-color: rgb(25, 25, 82);
    width: 100%;
    height: 06vh;
    margin-block-end: 30px;
    text-align: center;
    
    
}

